
html{
	margin: 0 auto;
}


body{
	margin: 0 auto;
	padding: 100px;
	
}

.billboard{
	color: orange;
}

.container{
	margin: 0 auto;
	padding: .5em;
	float: right;
	position: absolute;
	left: 550px;
	border: 10px solid #eee;
}


input{
	float: right;
}

#btnCalculate{
	float: right;
}